@import url("https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css");

#chimeRoot {
    background: #000000;
}

#loaderText {
    font-size: 0px;
}

#loaderLogo {
    display: none;
}

.topDown #systemButtons {
    top: auto;
}

#loadingMessage {
    display: none;
}

#loaderBg {
    background-color: #000;
}

#loaderText:after {
    font-size: 30px;
    content: "Connecting to Meeting...";
    visibility: visible;
    display: block;
    width: 500px;
    margin-left: -200px;
}

#systemUIBg {
    border-radius: 0px;
    background-color: #222222;
}

.thumbVideoContainer {
    bottom: auto;
    top: 2px;
}

.activeVideoContainer .thumbBaseElement {
    width: 100%;
    height: calc(100% - 175px);
    top: calc(50% + 25px);
}

#systemButtons {
    background-color: #222222;
}
.hoverButton {
    width: 45px;
    height: 45px;   
}

.thumbBaseElement {
    border-radius: 0%;
}

.thumbBaseElement .videoContent {
    border: 1px solid white;
}

.thumbVideoContainer .thumbBaseElement {
    width: 150px;
    height: 100px;
    margin-right: 3px;
    top: 3px;
}

.selfVideoContainer .thumbBaseElement {
    width: 150px;
    height: 100px;
    left: 3px;
    top: 3px;
}

.activeVideoContainer .thumbBaseElement .videoContent {
    border: 0px;
}
    
.thumbBaseElement .videoContent {
    border-radius: 0%;
}

.showHide.show.top {
    bottom: 0px;
    top: auto;
}

.selfVideoContainer .thumbBaseElement {
    top: 2px;
    bottom: auto;
}

.settingsPanel .chevron input[type=submit], .rtShare .documentItem .presentButton,
    .chat #chatSendButton {
    background-color: #eeeeee;
}

.chimeform input[type=button], .chimeform input[type=submit] {
    background-color: #cccccc;
}

.chimeAlert {
    background-color: #eeeeee;
}

.chimeAlert #alert_heading, .chimeAlert #alert_subheading, .chimeAlert H1
    {
    background-color: #444444;
}

.chevron::after {
    border-color: #000000;
}

/* Images */
.chimeSystemMessageLogo {
    background-image: url(logo.png);
}

.mutedIcon:before, .videoMutedIcon:before  {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
}

.hoverButton div, .mutedIcon, .videoMutedIcon {
 background-image: url("") !important;
 color: white;
}

.flyingTooltip {
    display:none;
}

.mutedIcon:before {
    background-image: url("") !important;
    font-family: "FontAwesome";
    content: "\f131";
    font-size: 30px;
    color:red;
}

.videoMutedIcon:before {
    background-image: url("") !important;
    font-family: "FontAwesome";
    content: "\f03d";
    font-size: 30px;
    text-decoration: line-through;
    color:red;
}

.chat.up:before, .chatButton .up:before, .chat.over:before, .chatButton .over:before {
    background-image: url("") !important;
    font-family: "FontAwesome";
    content: "\f086";
    font-size: 30px;
}

.participantsIcon.up:before, .participantsIcon .up:before, .participantsIcon.over:before, .participantsIcon .over:before {
    font-family: "FontAwesome";
    content: "\f0c0";
    font-size: 30px;
}

.docShare.up:before, .docShare .up:before, .docShare.over:before, .docShare .over:before {
    font-family: "FontAwesome";
    content: "\f15b";
    font-size: 30px;
}

.inviteButton.up:before, .inviteButton .up:before, .inviteButton.over:before, .inviteButton .over:before {
    font-family: "FontAwesome";
    content: "\f0e0";
    font-size: 30px;
}

.settings.up:before, .settings .up:before, .settings.over:before, .settings .over:before {
    background-image: none;
    font-family: "FontAwesome";
    content: "\f013";
    font-size: 30px;
}

.enterFullscreen.up:before, .enterFullscreen .up:before, .enterFullscreen.over:before, .enterFullscreen .over:before, .exitFullscreen.up:before, .exitFullscreen .up:before,
.exitFullscreen.over:before, .exitFullscreen .over:before {
    background-image: none;
    font-family: "FontAwesome";
    content: "\f0b2";
    font-size: 30px;
}

.leave.up:before, .leave .up:before, .leave.over:before, .leave .over:before {
    background-image: none;
    font-family: "FontAwesome";
    content: "\f08b";
    font-size: 30px;
}

.micOff .up:before, .micOff.up:before, .micOff .over:before, .micOff.over:before, .micOn .over:before, .micOn.over:before  {
    background-image: none;
    font-family: "FontAwesome";
    content: "\f131";
    font-size: 30px;
    color:red;
}

.micOn .up:before, .micOn.up:before{
    background-image: none;
    font-family: "FontAwesome";
    content: "\f130";
    font-size: 30px;
}

.cameraOff .up:before, .cameraOff.up:before, .cameraOff .over:before, .cameraOff.over:before, .cameraOn .over:before, .cameraOn.over:before {
    background-image: none;
    font-family: "FontAwesome";
    content: "\f03d";
    font-size: 30px;
    text-decoration: line-through;
    color:red;
}

.cameraOn .up:before, .cameraOn.up:before {
    background-image: none;
    font-family: "FontAwesome";
    content: "\f03d";
    font-size: 30px;
    text-decoration: line-through;
}

/* Labels */
.chat.up:after, .chatButton .up:after, .chat.over:after, .chatButton .over:after {
    content: "Chat";
    font-size: 12px;
    float: left;
    left: 8px;
    position: absolute;
    bottom: 0px;
}

.participantsIcon.up:after, .participantsIcon .up:after, .participantsIcon.over:after, .participantsIcon .over:after {
    content: "Roster";
    font-size: 12px;
    float: left;
    left: 4px;
    position: absolute;
    bottom: 0px;
}

.docShare.up:after, .docShare .up:after, .docShare.over:after, .docShare .over:after {
    content: "Share";
    font-size: 12px;
    float: left;
    left: 8px;
    position: absolute;
    bottom: 0px;
}

.inviteButton.up:after, .inviteButton .up:after, .inviteButton.over:after, .inviteButton .over:after {
    content: "Invite";
    font-size: 12px;
    float: left;
    left: 8px;
    position: absolute;
    bottom: 0px;
}

.settings.up:after, .settings .up:after, .settings.over:after, .settings .over:after {
    content: "Settings";
    font-size: 12px;
    float: left;
    margin: 0 auto;
}

.enterFullscreen.up:after, .enterFullscreen .up:after, .enterFullscreen.over:after, .enterFullscreen .over:after, .exitFullscreen.up:after, .exitFullscreen .up:after,
.exitFullscreen.over:after, .exitFullscreen .over:after {
    content: "Full";
    font-size: 12px;
    float: left;
    left: 11px;
    position: absolute;
    bottom: 0px;
}

.leave.up:after, .leave .up:after, .leave.over:after, .leave .over:after {
    content: "Leave";
    font-size: 12px;
    float: left;
    left: 5px;
    position: absolute;
    bottom: 0px;
}

.micOff .up:after, .micOff.up:after, .micOff .over:after, .micOff.over:after, .micOn .over:after, .micOn.over:after  {
    content: "Audio";
    font-size: 12px;
    float: left;
    left: 8px;
    position: absolute;
    bottom: 0px;
    color:red;
}

.micOn .up:after, .micOn.up:after{
    content: "Audio";
    font-size: 12px;
    float: left;
    left: 8px;
    position: absolute;
    bottom: 0px;
}

.cameraOff .up:after, .cameraOff.up:after, .cameraOff .over:after, .cameraOff.over:after, .cameraOn .over:after, .cameraOn.over:after {
    content: "Video";
    font-size: 12px;
    float: left;
    left: 8px;
    position: absolute;
    bottom: 0px;
    color:red;
}

.cameraOn .up:after, .cameraOn.up:after {
    content: "Video";
    font-size: 12px;
    float: left;
    left: 8px;
    position: absolute;
    bottom: 0px;
}

/* Dialogues */

#dialogContainer form {
    background-color: lightgrey;
    color: black;
}

#dialogContainer h1 {
    background-color: black;
}

#dialogContainer .dialog_subheading {
    background-color: black;
}

#dialogContainer input.button {
    background-color: black;
}

#dialogContainer input.button:hover {
    color: lightgrey;
}


#dialogContainer textarea {
    color: black;
}

#dialogBG {
    background:rgba(80,80,80,0.8) !important;
}

/* Panels */

.chat div#background, .rtShare div#background, 
.rtRoster div#background, .settingsPanel div#background,
.disclaimerPanel div#background {
    background: rgba(120,120,120,0.8);
}

#chimePanels #topSpace {
    background: rgba(40,40,40,0.8);
}

#chatMessagesContainer div, #chimePanels #topSpace 
 {
    color: white !important;
}


